form {
            padding-top: 30px;
            padding-left: 100px;
            padding-right: 100px;
        }

        h1 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        #coursename {
            width: 100%;
            height: 10%;
            padding: 5px;
            font-size: 1.2rem;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        input[type="radio"] {
            transform: scale(1.5); 
        }

        label {
            font-size: 1.1rem;
            margin-bottom: 5px;
            display: inline-block;
        }

        .form-group {
            margin-bottom: 20px;
        }
